[main]
enabled=1
debug=1
readaloud=1
# Keep the trailing '/' on ramfldr
ramfldr=/mnt/ram/
end=Et voilà, c'est fini.  Bonne journée.

## Effects

[tv]
enabled=1
stype=effect
delay=2

[music]
enabled=0
stype=effect
standalone=1
tail=.mp3
musicfldr=/Music
player=mpg123 -@ - -l 1 -g 60

## Content sources

[greeting]
enabled=1
stype=content
standalone=1
name=Ségolène

[openweathermap]
enabled=1
stype=content
location=6455340
host=api.openweathermap.org
path=/data/2.5/weather?id=
pathtail=&lang=fr&units=metric&APPID=WEATHERAPIKEY

[news]
enabled=1
stype=content
host=newsapi.org
path=/v2/top-headlines?sources=google-news-fr&apiKey=NEWSAPIKEY

## TTS engines
# NB: Order implies preference for enabled tts engines
[trygoogle]
enabled=0
stype=tts
head=wget -q -U Mozilla _
host=translate.google.com
path=/translate_tts?ie=UTF-8&client=t&prev=input
lang=fr
client=tw-ob
tail=.mp3
player=mpg123 -g 100 -h 10 -d 11

[trypolly]
enabled=1
stype=tts
